<h1  style="text-align: center; text-transform: uppercase; margin-bottom: 12px;">Calculator</h1>

<div class="container">
    <!-- <div id="temp">Calculator</div> -->
    <div class="calculator">
        
        <div class="display">
            <input type="text" class="calculator-screen" [value]="currentNumber" readonly />
            <!-- <input type="text" class="calculator-screen2" value="0"> -->
        </div>
        
        <div class="calculator-keys">
            <button type="button" (click)="getOperation('+')" class="operator" value="+">
                +
            </button>
            <button type="button" (click)="getOperation('-')" class="operator" value="-">
                -
            </button>
            <button type="button" (click)="getOperation('*')" class="operator" value="*">
                X
            </button>
            <button type="button" (click)="getOperation('/')" class="operator" value="/">
                /
            </button>

            <button type="button" (click)="getNumber('7')" class="number" value="7">
                7
            </button>
            <button type="button" (click)="getNumber('8')" class="number" value="8">
                8
            </button>
            <button type="button" (click)="getNumber('9')" class="number" value="9">
                9
            </button>
            <button type="button" (click)="clearAll()" class="all-clear" value="all-clear">
                AC
            </button>

            <button type="button" (click)="getNumber('4')" class="number" value="4">
                4
            </button>
            <button type="button" (click)="getNumber('5')" class="number" value="5">
                5
            </button>
            <button type="button" (click)="getNumber('6')" class="number" value="6">
                6
            </button>
            <button type="button" (click)="getOperation('=')" class="equal-sign" value="=">
                =
            </button>

            <button type="button" (click)="getNumber('1')" class="number" value="1">
                1
            </button>
            <button type="button" (click)="getNumber('2')" class="number" value="2">
                2
            </button>
            <button type="button" (click)="getNumber('3')" class="number" value="3">
                3
            </button>

            <button type="button" (click)="getNumber('0')" class="number zero" value="0">
                0
            </button>

            <button type="button" (click)="getNumber('00')" class="double zero" value="00">00</button>
            <button type="button" (click)="getDecimal()" class="decimal" value=".">
                .
            </button>
        </div>
    </div>
</div>